#menuBar ul{
    display: flex;
    padding: 0px; 
    margin: 0px;
    align-items: center;
    align-content: center;

}

#menuBar li{
 list-style-type: none;
 padding: 50px;
 align-items: center;
 align-content: center;

 
}

#menuBar ul li a{
 color: Black;
 text-decoration: none;
 
}

#pageTitle{
    align-content: center;
    align-items: center;
    text-align: center;

}