
body {
    margin: 0;
    padding: 0;
    position: relative; 
  }

  
  .menu-bar ul {
    display: flex;
    padding: 0px; 
    margin: 0px;
    justify-content: center;
    margin-top: -60px;
  }
  
  .menu-bar li {
    /*
    margin-top: 100px;
    margin: 10px;
    border-radius: 30px;
    padding: 20px 50px;
    background-color: lightgray;
    */
    list-style-type: none;
  }
  
  .menu-bar a {
    color: Black;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-top: 100px;
    margin: 10px;
    border-radius: 30px;
    list-style-type: none;
    padding: 20px 50px;
    background-color: lightgray;
    display:block;
  }
  
  .menu-bar .home{
    /*background-color:rgb(144, 222, 28);*/
  }
  .page-title {
    margin-top: -7px;
    margin-bottom: 35px;
    text-align: center;
    padding: 20px;
  }

.bg-image{
    position: absolute;
    width: 100%; 
    height: 100vh; 
    background-image: url('images/dogbone.jpg');
    background-size: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    z-index: -1; 
}



.menu-bar ul li:hover{
    transform: scale(1,1.05);
    
    

}

.menu-bar li a:hover{
    color: lightskyblue;

}